.tiptap {
  padding: 0;
  width: 100%;
  outline: none;
}

.tiptap h1 {
  @apply scroll-m-20 text-4xl tracking-tight lg:text-5xl;
}

.tiptap h2 {
  @apply scroll-m-20 border-b pb-2 text-3xl tracking-tight first:mt-0;
}

.tiptap h3 {
  @apply scroll-m-20 text-2xl tracking-tight;
}

.tiptap h4 {
  @apply scroll-m-20 text-xl tracking-tight;
}

.tiptap a {
  @apply text-blue-400;
}